@font-face {
    font-family: 'noto-sans-font-reg';
    src: url("../fonts/NotoSans/NotoSans-Regular.ttf");
}

html {
    background-image: linear-gradient(#bedef7, white);
}

.title {
    font-size: 30px;
    color: #25557c;
}

.subtitle {
    font-size: 20px;
    color: #25557c;
    padding-right: 27px;
}

.prof {
    height: 206px;
    width: 226px;
    border-radius: 15px;
}

.me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.col {
    float: left;
    width: 33.33%
}

p, Typography, h1 {
    font-family: 'noto-sans-font-reg';
    color: gray;
    font-size: 15px;
    text-decoration: none;
    text-transform: none;
}

.button {
    font-family: 'noto-sans-font-reg';
    color: #25557c;
    text-transform: none;
    font-size: 20px;
}

.tagline, .nav-title {
    font-size: 40px;
    color: #25557c;
}

a, a:link, a:visited {
    color: #25557c;
}

#home {
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
}


Grid {
    padding-top: 100px;
    padding-bottom: 50px;
}

.nav-item, .chip-item {
    padding-right: 10px;
    padding-left: 10px;
}

.nav-item {
    text-align: center;
}

.nav-title {
    padding-top: 20px;
    text-align: center;
}
