@font-face {
    font-family: 'noto-sans-font-reg';
    src: url("../fonts/NotoSans/NotoSans-Regular.ttf");
}

html {
    background-color: #fff7e8;
}

.nav {
    background-color: #fff7e8;
}

.title {
    font-size: 35px;
    color: #25557c;
    margin-bottom: 5%;
}

.card-title {
    color: #25557c;
}

.col {
    float: left;
    width: 33.33%
}

p,
Typography,
h1 {
    font-family: 'noto-sans-font-reg';
    color: gray;
    font-size: 20px;
    text-decoration: none;
    text-transform: none;
}

.divider {
    border-right-width: 3px;
    background-color: #25557c;
}

.button {
    font-family: 'noto-sans-font-reg';
    color: #25557c;
    text-transform: none;
}

.nav-button {
    font-size: 25px;
}

.tagline,
.nav-title {
    font-size: 50px;
    color: #25557c;
    margin: 0;
}

a,
a:link,
a:visited {
    color: #25557c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#home {
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.nav-item,
.chip-item {
    padding-right: 10px;
    padding-left: 10px;
}

.nav-item {
    text-align: center;
}

.nav-title {
    padding-top: 20px;
    text-align: center;
}

.card {
    background-color: #fffbf2;
}