@font-face {
    font-family: 'noto-sans-font-reg';
    src: url("../fonts/NotoSans/NotoSans-Regular.ttf");
}

:root {
    --beige-theme: #fff7e8;
    --light-beige-theme: #fffbf2;
    --blue-theme: #25557c;
    --gray-theme: gray;
  }

html {
    background-color: var(--beige-theme);
}

.title {
    font-size: 35px;
    color: var(--blue-theme);
    margin-bottom: 5%;
}

p,
Typography,
h1 {
    font-family: 'noto-sans-font-reg';
    color: var(--gray-theme);
    font-size: 20px;
    text-decoration: none;
    text-transform: none;
}

.tagline {
    font-size: 50px;
    color: var(--blue-theme);
    margin: 0;
}

a,
a:link,
a:visited {
    color: var(--blue-theme);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#home {
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
}